.forgot-password {
	padding: 150px 0 100px 0;

	.container {
		padding:30px;
		width:100%;
		max-width:1400px;
		display: flex;
		align-items: center;
		.forgot-left{
			width:100%;
			display: flex;
			align-items: center;
			justify-content:center;
			background: #F7FFFA;
			padding: 50px 0;
			.forgot-img{
				width:550px;
				text-align:center;
			}
			.forgot-img img{
			width:80%
			}
		}


		.forgot-right{
			width:100%;
			padding: 50px;
			.heading {
				font-size: clamp(24px, 7vw, 60px);
				line-height: 1.1;
				font-weight: 600;
				margin-bottom: 20px;
				text-align: center;
	
				.focus {
					color: #38c173;
				}
			}
	
			.body-text {
				text-align: center;
				padding: 0 20px;
				margin: 0 auto;
				margin-bottom: 50px;
			}
	
			.forgot-password-form {
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				align-items: center;
				max-width: 500px;
	
				.form-field {
					width: 100%;
					margin-bottom: 20px;
					label {
						font-size: 16px;
						font-weight: 500;
						display: block;
						margin-bottom: 10px;
					}
	
					input {
						font-size: 16px;
						padding: 16px;
						border-radius: 10px;
						background-color: #f6f7fb;
						width: 100%;
	
						&:focus {
							outline: 1px solid #38c173;
						}
					}
				}
	
				button {
					font-size: 16px;
					font-weight: 600px;
					color: #fff;
					padding: 16px 40px;
					border-radius: 30px;
					background-color: #38c173;
					width: 100%;
					transition: 0.3s;
	
					&:hover {
						background: #2fd168;
					}
				}
			}
		}
	}
}




// ================ MEDIA ===========================

@media screen and (max-width: 1150px) {
	.forgot-password .container{
		flex-direction: column;
		gap:30px;
		width:100%;	
	}
	.forgot-right{
		width:100%;
	}
	.forgot-left{
		width:100% !important;
		background: #F7FFFA;
		
	}
}
@media screen and (max-width: 500px) {
	.forgot-password .container{
		flex-direction: column;
		gap:30px;
		width:100%;
		padding:20px;
	}
	.forgot-right{
		width:100%;
		padding: 0px !important;
	}
	.forgot-left{
		display:none !important;
	}
	.body-text {
		text-align: center;
		padding: 0 10px !important;
		margin-bottom: 20px !important;
	}
}