.follower{
    padding: 50px 0 80px 0;
    margin-bottom: 100px;
}
.follower-content-warpper {
    width: 60%;
    margin: auto;
    text-align: center;
    padding-bottom: 40px;
}
.follower-content-warpper h1{
    color: #fff;
}
.follower-card-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.follower-card-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    color: #fff;
    position: relative;
}
.follower-card-item::before{
    content: "";
    position: absolute;
    top: 50px;
    right:-75px;
    background: url(../../public/assets/home-2/img/right-arrow-icon.svg);
    z-index: 111;
    width: 150px;
    height: 50px;
    background-repeat: no-repeat;
}
.follower-card-item-before-remove::before{
    display: none;
}
.follower-card-item h4{
    font-size: 25px;
    font-weight: 700;
}
.follower-icon-img img{
    width: 100%;
}
@media screen and (max-width: 992px) {
    .follower-card-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
    .follower-card-item::before{
        display: none;
    }
    .follower-content-warpper {
        width: 80%;
    }
    .follower {
        padding: 50px 0 80px 0;
        margin-bottom: 80px;
    }
}
@media screen and (max-width: 768px) {
    .follower-card-items{
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .follower-card-item::before{
        display: none;
    }
    .follower-content-warpper {
        width: 100%;
    }
}
@media screen and (max-width: 550px) {
    .follower-card-item {
        gap: 15px;
    }
    .follower-icon-img img {
        width: 80%;
    }
    .follower-content-warpper {
        padding-bottom: 20px;
    }
    .follower {
        padding: 30px  0;
        margin-bottom: 50px;
    }
}

.type-one{
    .follower{
        background-color: #1DB954;
    }
    .follower-card-item h4 {
        font-size: 20px;
        font-weight: 700;
    }
}  
.type-two {
    .follower{
        background-color: #FF8435;
    }
}
.type-three {
    .follower{
        background-color: #FF9900;
    }
}
.type-four {
    .follower{
        background-color: #EF4B4C;
    }
}