#pricing {
    background-color: #ffffff;
    .pricing-container {
        max-width: 1440px;
        margin: 0 auto;
        text-align: center;
        .heading {
            font-size: clamp(28px, 4vw, 60px);
            span {
                color:#1DB954;
                background-color: #cdffe5;
            }
            margin-bottom: 20px;
        }
        .sub-heading {
            font-size: clamp(20px, 3vw, 30px);
            font-weight: 500;
            margin-bottom: 40px;
        }
        .save-btn {
            background-color: #cdffe5;
            color: #28bc70;
            padding: 16px 2rem;
            font-size: clamp(14px, 3vw, 20px);
            width: fit-content;
            margin: 0 auto;
            margin-bottom: 100px;
            font-weight: 700;
            border-radius: 16px;
            position: relative;
            .arrow-pointer {
                position: absolute;
                bottom: -30%;
                left: -100%;
            }
            @media screen and (max-width: 768px) {
                margin-bottom: 50px;
                .arrow-pointer {
                    display: none;
                }
            }
        }
        .rc-slider-rail {
            height: 8px;
            background-color: #e5e5e5;
        }
        .rc-slider-dot {
            bottom: 8px;
            width: 2px;
            height: 8px;
            border-radius: 0;
            border: none;
            background-color: rgba(0, 0, 0, 0.274);
            margin-left: 0px;
            &:first-child {
                display: none;
            }
        }
        .rc-slider-mark {
            top: -26px;
        }
        .rc-slider-mark-text {
            font-size: 10px;
            transition: 0.2s;
            &-active {
                font-size: 12px;
                font-weight: 600;
                transform: translateY(-4px);
            }
        }
        .rc-slider-track {
            height: 8px;
            background-color: #28bc70;
        }
        .rc-slider-handle {
            border-color: #28bc70;
            border-width: 4px;
            height: 20px;
            width: 20px;
            margin-top: -6px;
            &:active,
            &:focus,
            &:hover {
                border-color: #28bc70;
                border-width: 6px;
            }
        }
        .rc-slider-tooltip {
            top: -16px !important;
            left: 0;
        }
        .rc-slider-tooltip-hidden {
            display: inline-block;
        }
        .rc-slider-tooltip-inner {
            background: #e1fcee !important;
        }
        .rc-slider-tooltip-arrow {
            border-top-color: #28bc70 !important;
        }
        .package-slider {
            .package-card-items{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                gap: 40px;
            }
            .package-card {
                background: #ffffff;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 40px 30px;
                position: relative;
                transition: all 150ms ease-in-out;
                cursor: pointer;
                gap: 30px;
                &:hover {
                    transform: scale(1.01);
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
                }
                .hat-svg {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -100%);
                    fill: #1db954;
                }
                .top-logo {
                    margin: 16px 0 0 0;
                }
                .package-type h4{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #000;
                    text-transform: capitalize;
                    font-weight: 700;
                    font-size: clamp(16px, 4vw, 40px);
                }
                .pricing-info {
                    position: relative;
                    .price {
                        font-size: clamp(30px, 5vw, 60px);
                        font-weight: 700;
                        margin-top: 15px;
                        margin-bottom: 24px;
                    }
                    .package_lead{
                        margin-top: 10px;
                        padding: 20px 50px;
                        color: #1db954;
                        font-size: 20px;
                        font-weight: 600;
                        border: 4px solid #1DB954;
                    }
                }
                .upper-details {
                    margin: 20px 0;
                    width: 100%;
                    .list-item {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        font-weight: 500;
                        margin-bottom: 20px;
                        text-align: left;
                        svg {
                            path {
                                stroke: #1db954 !important;
                            }
                        }
                        .item-text {
                            font-size: clamp(14px, 3vw, 20px);
                        }
                    }
                }
                .bottom-details {
                    color: #474747;
                    font-size: clamp(14px, 3vw, 18px);
                    text-align: center;
                    margin-bottom: 2rem;
                }
                .purchase-btn {
                    font-size: 24px;
                    font-weight: 600;
                    background-color: #1db954;
                    color: $white;
                    padding: 1rem 3rem;
                    border-radius: 10px;
                    animation: pulse2 3s infinite;
                }
            }
            @media screen and (max-width: 1300px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (max-width: 800px) {
                grid-template-columns: 1fr;
                gap: 60px;
            }
        }
    }
    &       .type-three {
        .pricing-container {
            .heading {
                span {
                    color: #ffae34;
                    background-color: #ffece1;
                }
            }
            .save-btn {
                color: #ffae34;
                background-color: #ffece1;
            }
            .rc-slider-track {
                background-color: #ffae34;
            }
            .rc-slider-handle {
                border-color: #ffae34;
                &:active,
                &:focus,
                &:hover {
                    border-color: #ffae34;
                }
            }
            .rc-slider-tooltip-inner {
                background-color: #ffae34 !important;
            }
            .rc-slider-tooltip-arrow {
                border-top-color: #ffae34 !important;
            }
            .package-slider {
                .package-card {
                    .hat-svg {
                        fill: #ffae34;
                    }
                    .package-type {
                        background-color: #ffae34;
                    }
                    .list-item {
                        svg {
                            circle {
                                fill: #ffae3430;
                            }
                            path {
                                stroke: #ffae34 !important;
                            }
                        }
                    }
                    .purchase-btn {
                        background-color: #ffae34;
                    }
                }
            }
        }
    }
    &.type-four {
        .pricing-container {
            .heading {
                span {
                    color: #5482ff;
                    background-color: #d4e0ff;
                }
            }
            .save-btn {
                color: #5482ff;
                background-color: #d4e0ff;
            }
            .rc-slider-track {
                background-color: #5482ff;
            }
            .rc-slider-handle {
                border-color: #5482ff;
                &:active,
                &:focus,
                &:hover {
                    border-color: #5482ff;
                }
            }
            .rc-slider-tooltip-inner {
                background-color: #5482ff !important;
            }
            .rc-slider-tooltip-arrow {
                border-top-color: #5482ff !important;
            }
            .package-slider {
                .package-card {
                    .hat-svg {
                        fill: #5482ff;
                    }
                    .list-item {
                        svg {
                            circle {
                                fill: #0045ff21;
                            }
                            path {
                                stroke: #5482ff !important;
                            }
                        }
                    }
                    .package-type {
                        background-color: #5482ff;
                    }
                    .purchase-btn {
                        background-color: #5482ff;
                    }
                }
            }
        }
    }
    &.type-five {
        .pricing-container {
            .heading {
                span {
                    color: #6e8df8;
                    background-color: #d4e0ff;
                }
            }
            .save-btn {
                color: #6e8df8;
                background-color: #d4e0ff;
            }
            .rc-slider-track {
                background-color: #6e8df8;
            }
            .rc-slider-handle {
                border-color: #6e8df8;
                &:active,
                &:focus,
                &:hover {
                    border-color: #6e8df8;
                }
            }
            .rc-slider-tooltip-inner {
                background-color: #6e8df8 !important;
            }
            .rc-slider-tooltip-arrow {
                border-top-color: #6e8df8 !important;
            }
            .package-slider {
                .package-card {
                    .hat-svg {
                        fill: #6e8df8;
                    }
                    .list-item {
                        svg {
                            circle {
                                fill: #6e8cf84b;
                            }
                            path {
                                stroke: #6e8df8 !important;
                            }
                        }
                    }
                    .package-type {
                        background-color: #6e8df8;
                    }
                    .purchase-btn {
                        background-color: #6e8df8;
                    }
                }
            }
        }
    }
    &.type-six {
        .pricing-container {
            .heading {
                span {
                    color: #fe5476;
                    background-color: #ffebef;
                }
            }
            .save-btn {
                color: #fe5476;
                background-color: #ffebef;
            }
            .rc-slider-track {
                background-color: #fe5476;
            }
            .rc-slider-handle {
                border-color: #fe5476;
                &:active,
                &:focus,
                &:hover {
                    border-color: #fe5476;
                }
            }
            .rc-slider-tooltip-inner {
                background-color: #fe5476 !important;
            }
            .rc-slider-tooltip-arrow {
                border-top-color: #fe5476 !important;
            }
            .package-slider {
                .package-card {
                    .hat-svg {
                        fill: #fe5476;
                    }
                    .list-item {
                        svg {
                            circle {
                                fill: rgba(239, 75, 75, 0.219);
                            }
                            path {
                                stroke: #fe5476 !important;
                            }
                        }
                    }
                    .package-type {
                        background-color: #fe5476;
                    }
                    .purchase-btn {
                        background-color: #fe5476;
                    }
                }
            }
        }
    }
    &.type-seven {
        .pricing-container {
            .heading {
                span {
                    color: #ef4b4c;
                    background-color: #ffebef;
                }
            }
            .save-btn {
                color: #ef4b4c;
                background-color: #ffebef;
            }
            .rc-slider-track {
                background-color: #ef4b4c;
            }
            .rc-slider-handle {
                border-color: #ef4b4c;
                &:active,
                &:focus,
                &:hover {
                    border-color: #ef4b4c;
                }
            }
            .rc-slider-tooltip-inner {
                background-color: #ef4b4c !important;
            }
            .rc-slider-tooltip-arrow {
                border-top-color: #ef4b4c !important;
            }
            .package-slider {
                .package-card {
                    .hat-svg {
                        fill: #ef4b4c;
                    }
                    .list-item {
                        svg {
                            circle {
                                fill: #ef4b4c33;
                            }
                            path {
                                stroke: #ef4b4c !important;
                            }
                        }
                    }
                    .package-type {
                        background-color: #ef4b4c;
                    }
                    .purchase-btn {
                        background-color: #ef4b4c;
                    }
                }
            }
        }
    }
    &.type-eight {
        .pricing-container {
            .heading {
                span {
                    color: #c41b6c;
                    background-color: #ffeef6;
                }
            }
            .save-btn {
                color: #c41b6c;
                background-color: #ffeef6;
            }
            .rc-slider-track {
                background-color: #c41b6c;
            }
            .rc-slider-handle {
                border-color: #c41b6c;
                &:active,
                &:focus,
                &:hover {
                    border-color: #c41b6c;
                }
            }
            .rc-slider-tooltip-inner {
                background-color: #c41b6c !important;
            }
            .rc-slider-tooltip-arrow {
                border-top-color: #c41b6c !important;
            }
            .package-slider {
                .package-card {
                    .hat-svg {
                        fill: #c41b6c;
                    }
                    .list-item {
                        svg {
                            circle {
                                fill: #c41b6d41;
                            }
                            path {
                                stroke: #c41b6c !important;
                            }
                        }
                    }
                    .package-type {
                        background-color: #c41b6c;
                    }
                    .purchase-btn {
                        background-color: #c41b6c;
                    }
                }
            }
        }
    }
    &.type-nine {
        .pricing-container {
            .heading {
                span {
                    color: #512ee8;
                    background-color: #ffeef6;
                }
            }
            .save-btn {
                color: #512ee8;
                background-color: #ffeef6;
            }
            .rc-slider-track {
                background-color: #512ee8;
            }
            .rc-slider-handle {
                border-color: #512ee8;
                &:active,
                &:focus,
                &:hover {
                    border-color: #512ee8;
                }
            }
            .rc-slider-tooltip-inner {
                background-color: #512ee8 !important;
            }
            .rc-slider-tooltip-arrow {
                border-top-color: #512ee8 !important;
            }
            .package-slider {
                .package-card {
                    .hat-svg {
                        fill: #512ee8;
                    }
                    .list-item {
                        svg {
                            circle {
                                fill: #512ee833;
                            }
                            path {
                                stroke: #512ee8 !important;
                            }
                        }
                    }
                    .package-type {
                        background-color: #512ee8;
                    }
                    .purchase-btn {
                        background-color: #512ee8;
                    }
                }
            }
        }
    }
    &.type-10 {
        .pricing-container {
            .heading {
                span {
                    color: #5a8fe9;
                    background-color: #d4deff;
                }
            }
            .save-btn {
                color: #5a8fe9;
                background-color: #d4deff;
            }
            .rc-slider-track {
                background-color: #5a8fe9;
            }
            .rc-slider-handle {
                border-color: #5a8fe9;
                &:active,
                &:focus,
                &:hover {
                    border-color: #5a8fe9;
                }
            }
            .rc-slider-tooltip-inner {
                background-color: #5a8fe9 !important;
            }
            .rc-slider-tooltip-arrow {
                border-top-color: #5a8fe9 !important;
            }
            .package-slider {
                .package-card {
                    .hat-svg {
                        fill: #5a8fe9;
                    }
                    .list-item {
                        svg {
                            circle {
                                fill: #5a8fe945;
                            }
                            path {
                                stroke: #5a8fe9 !important;
                            }
                        }
                    }
                    .package-type {
                        background-color: #5a8fe9;
                    }
                    .purchase-btn {
                        background-color: #5a8fe9;
                    }
                }
            }
        }
    }
    &.type-11 {
        .pricing-container {
            .heading {
                span {
                    color: #ef4b4c;
                    background-color: #ffd9d9;
                }
            }
            .save-btn {
                color: #ef4b4c;
                background-color: #ffd9d9;
            }
            .rc-slider-track {
                background-color: #ef4b4c;
            }
            .rc-slider-handle {
                border-color: #ef4b4c;
                &:active,
                &:focus,
                &:hover {
                    border-color: #ef4b4c;
                }
            }
            .rc-slider-tooltip-inner {
                background-color: #ef4b4c !important;
            }
            .rc-slider-tooltip-arrow {
                border-top-color: #ef4b4c !important;
            }
            .package-slider {
                .package-card {
                    .hat-svg {
                        fill: #ef4b4c;
                    }
                    .list-item {
                        svg {
                            circle {
                                fill: #ef4b4b33;
                            }
                            path {
                                stroke: #ef4b4c !important;
                            }
                        }
                    }
                    .package-type {
                        background-color: #ef4b4c;
                    }
                    .purchase-btn {
                        background-color: #ef4b4c;
                    }
                }
            }
        }
    }
    &.type-12 {
        .pricing-container {
            .heading {
                span {
                    color: #ef4b4c;
                    background-color: #ffd9d9;
                }
            }
            .save-btn {
                color: #ef4b4c;
                background-color: #ffd9d9;
            }
            .rc-slider-track {
                background-color: #ef4b4c;
            }
            .rc-slider-handle {
                border-color: #ef4b4c;
                &:active,
                &:focus,
                &:hover {
                    border-color: #ef4b4c;
                }
            }
            .rc-slider-tooltip-inner {
                background-color: #ef4b4c !important;
            }
            .rc-slider-tooltip-arrow {
                border-top-color: #ef4b4c !important;
            }
            .package-slider {
                .package-card {
                    .hat-svg {
                        fill: #ef4b4c;
                    }
                    .list-item {
                        svg {
                            circle {
                                fill: rgba(239, 75, 75, 0.2);
                            }
                            path {
                                stroke: #ef4b4c !important;
                            }
                        }
                    }
                    .package-type {
                        background-color: #ef4b4c;
                    }
                    .purchase-btn {
                        background-color: #ef4b4c;
                    }
                }
            }
        }
    }
    &.type-13 {
        .pricing-container {
            .heading {
                span {
                    color: #ff9900;
                    background-color: #fff2de;
                }
            }
            .save-btn {
                color: #ff9900;
                background-color: #fff2de;
            }
            .rc-slider-track {
                background-color: #ff9900;
            }
            .rc-slider-handle {
                border-color: #ff9900;
                &:active,
                &:focus,
                &:hover {
                    border-color: #ff9900;
                }
            }
            .rc-slider-tooltip-inner {
                background-color: #ff9900 !important;
            }
            .rc-slider-tooltip-arrow {
                border-top-color: #ff9900 !important;
            }
            .package-slider {
                .package-card {
                    .hat-svg {
                        fill: #ff9900;
                    }
                    .list-item {
                        svg {
                            circle {
                                fill: #ff990033;
                            }
                            path {
                                stroke: #ff9900 !important;
                            }
                        }
                    }
                    .package-type {
                        background-color: #ff9900;
                    }
                    .purchase-btn {
                        background-color: #ff9900;
                    }
                }
            }
        }
    }
    &.type-14 {
        .pricing-container {
            .heading {
                span {
                    color: #ef4b4c;
                    background-color: #ffecec;
                }
            }
            .save-btn {
                color: #ef4b4c;
                background-color: #ffecec;
            }
            .rc-slider-track {
                background-color: #ef4b4c;
            }
            .rc-slider-handle {
                border-color: #ef4b4c;
                &:active,
                &:focus,
                &:hover {
                    border-color: #ef4b4c;
                }
            }
            .rc-slider-tooltip-inner {
                background-color: #ef4b4c !important;
            }
            .rc-slider-tooltip-arrow {
                border-top-color: #ef4b4c !important;
            }
            .package-slider {
                .package-card {
                    .hat-svg {
                        fill: #ef4b4c;
                    }
                    .list-item {
                        svg {
                            circle {
                                fill: #ef4b4c2b;
                            }
                            path {
                                stroke: #ef4b4c !important;
                            }
                        }
                    }
                    .package-type {
                        background-color: #ef4b4c;
                    }
                    .purchase-btn {
                        background-color: #ef4b4c;
                    }
                }
            }
        }
    }
    &.type-15 {
        .pricing-container {
            .heading {
                span {
                    color: #c41b6c;
                    background-color: #ffecec;
                }
            }
            .save-btn {
                color: #c41b6c;
                background-color: #ffecec;
            }
            .rc-slider-track {
                background-color: #c41b6c;
            }
            .rc-slider-handle {
                border-color: #c41b6c;
                &:active,
                &:focus,
                &:hover {
                    border-color: #c41b6c;
                }
            }
            .rc-slider-tooltip-inner {
                background-color: #c41b6c !important;
            }
            .rc-slider-tooltip-arrow {
                border-top-color: #c41b6c !important;
            }
            .package-slider {
                .package-card {
                    .hat-svg {
                        fill: #c41b6c;
                    }
                    .list-item {
                        svg {
                            circle {
                                fill: #c41b6d36;
                            }
                            path {
                                stroke: #c41b6c !important;
                            }
                        }
                    }
                    .package-type {
                        background-color: #c41b6c;
                    }
                    .purchase-btn {
                        background-color: #c41b6c;
                    }
                }
            }
        }
    }
    &.type-16 {
        .pricing-container {
            .heading {
                span {
                    color: #24a5e7;
                    background-color: #ffe5f2;
                }
            }
            .save-btn {
                color: #24a5e7;
                background-color: #ffe5f2;
            }
            .rc-slider-track {
                background-color: #24a5e7;
            }
            .rc-slider-handle {
                border-color: #24a5e7;
                &:active,
                &:focus,
                &:hover {
                    border-color: #24a5e7;
                }
            }
            .rc-slider-tooltip-inner {
                background-color: #24a5e7 !important;
            }
            .rc-slider-tooltip-arrow {
                border-top-color: #24a5e7 !important;
            }
            .package-slider {
                .package-card {
                    .hat-svg {
                        fill: #24a5e7;
                    }
                    .list-item {
                        svg {
                            circle {
                                fill: #24a5e733;
                            }
                            path {
                                stroke: #24a5e7 !important;
                            }
                        }
                    }
                    .package-type {
                        background-color: #24a5e7;
                    }
                    .purchase-btn {
                        background-color: #24a5e7;
                    }
                }
            }
        }
    }
    &.type-17 {
        .pricing-container {
            .heading {
                span {
                    color: #00b1e7;
                    background-color: #d8f2ff;
                }
            }
            .save-btn {
                color: #00b1e7;
                background-color: #d8f2ff;
            }
            .rc-slider-track {
                background-color: #00b1e7;
            }
            .rc-slider-handle {
                border-color: #00b1e7;
                &:active,
                &:focus,
                &:hover {
                    border-color: #00b1e7;
                }
            }
            .rc-slider-tooltip-inner {
                background: #00b1e7 !important;
            }
            .rc-slider-tooltip-arrow {
                border-top-color: #00b1e7 !important;
            }
            .package-slider {
                .package-card {
                    .hat-svg {
                        fill: #00b1e7;
                    }
                    .list-item {
                        svg {
                            circle {
                                fill: #00b1e73f;
                            }
                            path {
                                stroke: #00b1e7 !important;
                            }
                        }
                    }
                    .package-type {
                        background-color: #00b1e7;
                    }
                    .purchase-btn {
                        background-color: #00b1e7;
                    }
                }
            }
        }
    }
}