#vision {
    padding: 100px 0 0 0;
    .container {
        .vision-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }
        .vision-right img {
            width: 100%;
        }
        h2.vision-title {
            font-size: clamp(30px, 3vw, 50px);
            line-height: 1.2;
            margin-bottom: 0.5em;
            color: #000000;
            font-weight: 900;
        }
        p.vision-des {
            margin-bottom: 20px;
            font-size: clamp(15px, 3vw, 18px);
            line-height: 30px;
        }
        @media screen and (max-width: 1080px) {
            .vision-wrapper {
                grid-template-columns: 1fr;
                text-align: center;
                .vision-left {
                    grid-row: 2;
                }
                .vision-right {
                    grid-row: 1;
                }
            }
        }
    }
}