#footer {
	.footer-area {
		background: #141619;
		padding-top: 80px;
	}

	.footer-logo {
		margin-bottom: 1em;
	}

	.footer-col {
		color: #fff;
	}

	.email-phone {
		margin-top: 20px;
		line-height: 30px;
	}

	.email-phone p {
		display: flex;
		align-items: center;
	}

	.footer-wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;

		@media screen and (max-width: 1080px) {
			grid-template-columns: 1fr;
		}
	}

	h4.footer-link-title {
		font-weight: 600;
		font-size: 20px;
		margin-bottom: 20px;
	}

	.footer-ul li {
		margin: 10px 0;
	}

	.footer-link {
		padding: 5px 0;
		font-size: 16px;
		color: #fff;
		transition: 0.3s;
		width: 100%;
	}

	a.footer-link:hover {
		color: #ffcd82;
	}

	.quick-link-wrapper {
		display: grid;
		grid-template-columns: 50% 50%;
	}

	.subscribe-form {
		background: #fff;
		border-radius: 6px;
		margin-top: 20px;
	}

	.input-group {
		display: flex;
		width: 100%;
	}

	input.subscribe-input {
		width: 100%;
		border: none;
		padding: 14px;
		font-size: 16px;
		border-radius: 6px;
	}

	.submit-button {
		background: #5cc327;
		border: none;
		padding: 0 15px;
		border-radius: 6px;
		color: #fff;
		font-size: 16px;
		transition: 0.3s;
		cursor: pointer;
	}

	.submit-button:hover {
		background: #ffcd82;
	}

	ul.social-ul {
		display: flex;
		align-items: center;
	}

	a.social-link {
		padding: 10px;
	}

	.social-area {
		color: #fff;
		margin-top: 25px;

		p {
			margin-bottom: 10px;
		}
	}

	.payment-method {
		text-align: center;
		padding: 20px;

		img {
			width: 400px;
			max-width: 100%;
		}
	}

	.copyright-sec {
		padding: 20px;
		background: #141619;
		color: #fff;
		border-top: 2px solid #444a53;
	}
}
